@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .shared-side-panel{
        @apply sm:flex sm:items-center sm:basis-3/4 sm:justify-center  h-screen min-h-full sm:h-[5rem] fixed sm:relative top-0  right-0 min-w-[70%] smallTab:min-w-[40%] sm:w-auto transition-transform transform sm:transform-none translate-x-full sm:translate-x-0 duration-300  z-10 bg-transparent backdrop-blur-3xl p-6 sm:p-1 ;
    }
    .custom-border{
        position: relative;
        margin-bottom: 5rem;
        
    }
    .custom-border::after{
        position: absolute;
        content: '';
        height: 10rem;
        width: 10rem;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        opacity: 0;
        top:50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        transition: opacity 0.7s ease-in-out;
    }
    @media (min-width:300px){
        .custom-border::after{
            height: 15rem;
            width: 15rem;
         
        }
    }
    .custom-border:hover::after{
        opacity: 0.15;
    }
    .moons-ul{
        @apply text-secondary flex gap-10 flex-wrap justify-center uppercase my-11  w-[90%] mx-auto;
    }
    .moon-name{
        @apply uppercase text-white text-center text-5xl font-serif my-5;
    }
    .moon-info{
        @apply flex justify-center mx-auto  pb-8 w-[90%] max-w-[25rem] border-solid border-b-2 border-tertiary mt-7;
    }
    .moon-distance-info{
        @apply flex flex-col items-center py-11 gap-8 uppercase;
    }
    .moon-links{
        @apply relative block  h-[2.5rem];
    }
    .moon-link-underline{
        @apply absolute bg-white bottom-[0rem] w-full  h-[2px] left-0  opacity-0 transition-all duration-300 group-hover:opacity-100 ;
    }

}